name: Mlops
on:
    push:
        branches: ['main']

jobs:
    buil_train:
        name: Train
        runs-on: windows-latest
        
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Set up python
              uses: actions/setup-python@v4
              with:
                python-version: 3.11

            - name: install
              run: |
                pip install -r requirements.txt
                pip install pytest -q
            - name: Train model
              run: src/train.py

            - name: eval
              run: src/evaluator.py
            - name: test with pytest
              run: PYTHONPATH=. pytest tests/test.py
    build_run:
        name: build
        runs-on: windows-latest
        needs: buil_train

        steps:
            - name: setup
              uses: actions/checkout@v3

            - name: setup docker
              uses: docker/setup-buildx-action@v3

            - name: log
              uses: docker/login-action@v3
              with:
                username: ${{secrets.USERNAME}}
                password: ${{secrets.password}}
            - name: push
              uses: docker/build-push-action@v5
              with:
                context: .
                push: True
                tags: ${{secrets.USERNAME}}

